@model ProductResupplyView

<div class="container">

    <form asp-controller="Admin" asp-action="ResupplyCreate" method="post" class="title-card bg-tabella py-4 px-4">
        @Html.AntiForgeryToken()

        <div class="mb-3">
                    <label>Select Product:</label>
                    <select asp-for="Resupply.ProductId" rows="10" class="d-block w-100">
                        <option value=""></option>
                @foreach (Product product in Model.ProductList){
                            
                                <option value="@product.Id">@product.Name </option>
                }
                    </select>
                    <span asp-validation-for="Resupply.ProductId" class="text-danger"></span>
                </div>

          <div class="form-group">
            <label for="resupplyQuantity">Quantity:</label>
            <input asp-for="Resupply.Quantity" type="number" class="form-control" id="ResupplyQuantity"/>
            <span asp-validation-for="Resupply.Quantity" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label for="supplierName">Nome Fornitore:</label>
            <input asp-for="Resupply.SupplierName" type="text" class="form-control" id="supplierName">
            <span asp-validation-for="Resupply.SupplierName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="purchasePrice">Prezzo di acquisto:</label>
            <input asp-for="Resupply.Price" type="text" class="form-control" id="purchasePrice"/>
            <span asp-validation-for="Resupply.Price" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-small btn-primary mybutton">Registra</button>
       
    </form>

>>>>>>> f5055a8a2a596a3b761fde2fe0cbd293817034e2

</div>


