html {
    font-size: 14px;
    font-family: 'Fredoka', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-img-top {
    object-fit: cover;
}

.details_Img {
    max-width:300px;
}

.card {
    transition: transform.2s;
}

.classHover:hover {
    opacity: 0.5;
    transform: scale(1.02);
}

ul > li:nth-child(1) {
    font-weight:bold;
}
ul > li:hover {
    background-color: rgba(238, 238, 59, 0.691);
    border-radius: 30px;
}

ul>li:active {
    transform:scale(1.2, 1.1);
}